# Fichiers secrets à ne jamais versionner
config.env
conf.env
gspread_key.json
.streamlit/secrets.toml
.secrets
/.streamlit/secrets.toml

# Fichiers temporaires Python
__pycache__/
*.py[cod]
*.pyo

# Données
*.csv

# Environnement virtuel
.venv/
.env/
.env
*.env

# Fichiers spécifiques à PyCharm
.idea/
*.iml

# Divers
.DS_Store
.env
conf.env
